/* background image */
body {
  background-image: url(./assets/images/goodPlace.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

/* shows play again div at end of game */
#reset {
  visibility: visible;
}

/* container div */
.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  margin: 50px;
  padding: 15px;
  border-radius: 10px;
}

/* answer options */
.selections {
  border-radius: 25px;
  width: 36%;
  line-height: 1.5;
  padding: 5px;
  margin: 10px auto;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
}

/* time left div */
#timeleft {
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  width: 50%;
  line-height: 2;
  border-radius: 10px;
}

/* gif image format */

img {
  max-height: 200px;
  width: auto;
}

/* text */
h1 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 45px;
}
h2 {
  font-size: 30px;
}
p {
  color: red;
  font-size: 32px;
}
h4 {
  font-size: 24px;
}

/* timer */
h3 {
  font-size: 30px;
  font-weight: normal;
}

/* button */
.button {
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
}